@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
    margin: 0;
    font-family: "Inria Sans", sans-serif;
}

.header {
    background-color: red;
    height: 7vh;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 50px;
}

.nav img{
    width: 100px;
}

ul{
    display: flex;
}
li{
    padding: 0 10px;
    list-style-type: none;
    color: white;
}

button{
    border: none;
    background-color: white;
    padding: 8px 10px;
    border-radius: 3px;
}

button:first-of-type{
    margin-right: 10px;
}

button:hover{
    background-color: black;
    color: white;
}

li:hover{
    font-weight: 700;
    font-size: 17px;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
    margin-top: 20px;
}

.schedule{
    grid-column: 2/5;
    max-width: 305px;
    height: 85vh;
    overflow: hidden;
    background-color: #202223;
    text-align: center;
    color:  white;
    padding: 0 40px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.schedule img{
    margin-top: 30px;
}

.schedule h2{
    padding: 0 10px;
}

.schedule h2:first-of-type{
    margin-bottom: 20px;
}

h2{
    font-size: 16px;
}

h3{
    font-size: 14px;
}

p{
    font-size: 12px;
}

h2:hover{
    font-size: 17px;
}

.tech{
    grid-column: 5/9;
    max-width: 416px;
    justify-content: center;
}

.standings{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.drivers img,
.constructors img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 20px;
}

.alpine img,
.williams img{
    width: 100%;
    height: auto;
    display: block; 
    border-radius: 20px;
    margin-top: 10px;
}

.drivers{
    position: relative;
}

.constructors{
    position: relative;
}

.alpine{
    position: relative;
}

.alpine .bottomleft{
    margin-right: 70px;
}

.williams{
    position: relative;
}

.williams .bottomleft{
    margin-right: 70px;
}

.bottomleft {
    position: absolute;
    bottom: 16px;
    left: 16px;
    font-size: 16px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 4px 8px;
    border-radius: 10px;
  }

.news{
    grid-column: 9/11;
}

.sainz img,
.hamilton img{
    width: auto;
    height: 100%;
    display: block; 
    border-radius: 20px;
}

.sainz{
    position: relative;
}


.hamilton{
    margin-top: 10px;
    position: relative;
}

.footer{
    background-color: red;
}

.footer-container{
    display: flex;
    justify-content: space-around;
}

.footer-container p{
    color: white;
}

.bottomleft:hover{
    font-size: 18px;
    margin-right: 20px;
}

.news .bottomleft:hover{
    margin-right: 0px;
}
